{% set title = 'Asal Lembaga Management' %}
{% set filename = 'asal-lembaga-management.html' %}

{% extends 'layouts/master.html' %}
{% block content %}
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Asal Lembaga Management</h3>
                <p class="text-subtitle text-muted">Manage the visitors' asal lembaga</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Asal Lembaga Management</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-body">
                <div align="right" style="padding-right:10px">
                    <a href="add-asal-lembaga.html" class="btn btn-primary">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Create New &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                </div>
                <br>

                <table class="table table-striped"  style="padding:10px 8px 10px 8px;" id="table1">
                    <thead>
                    <tr>
                        <th>Nama Asal Lembaga</th>
                          <th>Created Date</th>
                          <th>Updated Date</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td style="vertical-align: middle">Rekan Bisnis</td>
                            <td style="vertical-align: middle">23 July 2022 10:00:00</td>
                            <td style="vertical-align: middle">23 July 2022 10:00:00</td>
                          <td>
                            <a href="edit-asal-lembaga.html" class="btn btn-sm btn-dark">Edit</a>
                            <a href="#" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </section>
</div>
{% endblock %}
{% block styles %}
<link rel="stylesheet" href="assets/css/pages/simple-datatables.css">
{% endblock %}
{% block js %}
<script src="assets/js/extensions/simple-datatables.js"></script>
{% endblock %}
